.my2048-container{
    margin: 150px auto 0;
    width: 435px;
    height: 435px;
    padding: 15px;
    overflow: hidden;
    background: #bbada0;
    border-radius: 5px;
}
.myrow{
    width:405px;
    height: 90px;
    margin-bottom: 15px;
}
.myrow:last-child{
    margin-bottom: 0;
}

.mycell{
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    line-height: 90px;
    font-size: 40px;
    display: inline-block;
    font-weight: 600;
    width:90px;
    height: 90px;
    margin-right: 15px;
    overflow: hidden;
    background: rgba(238, 228, 218, 0.35);
    border-radius: 3px;
}
.mycell:last-child{
    margin-right: 0;
}
.mycell-2{
    color: #776e65;
    background-color:#eee4da ;
}
.mycell-4{
    color: #776e65;
    background-color:#ede0c8;
}
.mycell-8{
    color: #f9f6f2;
    background-color:#f2b179 ;
}
.mycell-16{
    color: #f9f6f2;
    background-color:#f59563 ;
}
.mycell-32{
    color: #f9f6f2;
    background-color:#f67c5f ;
}
.mycell-64{
    color: #f9f6f2;
    background-color:#f65e3b ;
}
.mycell-128,.mycell-256{
    color: #776e65;
    background-color:#edcf72 ;
 }
/*.mycell-256{*/
/*    color: #776e65;*/
/*    background-color:#eee4da ;*/
/*}*/
